{% extends "base.html" %}
{% load static %}
{% block title %}Корзина{% endblock %}

{% block content %}

{% if not basket or not basket.orders %}
<p align="center">
	<h3>Ваша корзина пока пуста</h3>
</p>
{% else %}
<form action="/basket/update/" method="post">
	<table>
		{% for order in basket.orders %}
		<tr>
			<td><a href="/products/{{ order.product.prod_type.group.id }}/{{ order.product.prod_type.id }}/{{ order.product.id }}/" class="inbasket">{{ order.product.name }}</a></td>
			<td>{{ order.price }} грн.</td>
			<td><input type="number" name="{{forloop.counter}}" value="{{ order.quantity }}"/></td>
			<td><a href="/basket/delete/{{ order.product.id }}" class="m-btn mini"><i class="icon-trash"></i>Удалить</a></td>
			</tr>
			{% endfor %}
			</table>
			<div id="basketInf"> Итого: {{ basket.summ }} грн.</div> 
			<input type="submit" class="m-btn" value="Обновить корзину"/>
			</form>
			<form action="/basket/order">
			<input type="submit" class="m-btn red rnd" value="Оформить заказ" />
			</form>
			{% endif %}

			{% endblock %}
