{% extends "base.html" %}
{% load static %}
{% block title %}Корзина{% endblock %}

{% block content %}
<fieldset id="basket_frame">
<legend>Корзина</legend>
{% if not basket or not basket.orders %}
	<br />
	<h3 align="center">Ваша корзина пока пуста</h3>
{% else %}
<form action="/basket/update/" method="post">
	<br />
	<table id="basket_table">
		{% for order in basket.orders %}
		<tr>
			<td width="200px" align="absmiddle"><a href="/products/{{ order.product.prod_type.group.id }}/{{ order.product.prod_type.id }}/{{ order.product.id }}/" class="inbasket">{{ order.product.name }}</a></td>
			<td width="200px" align="absmiddle">{{ order.price|stringformat:".2f" }} грн.</td>
			<td width="200px" align="absmiddle"><input type="number" name="{{forloop.counter}}" value="{{ order.quantity }}" min="1" max="{{order.product.quantity}}"/></td>
			<td width="200px" align="absmiddle"><a href="/basket/delete/{{ order.product.id }}" class="m-btn mini"><i class="icon-trash"></i>Удалить</a></td>
		</tr>
		{% endfor %}
	</table>
			<br />
			<div id="basketInf"> Итого: {{basket.summ|stringformat:".2f"}}
				
			</div>
			<br />
			<input type="submit" class="m-btn" value="Обновить корзину"/>
			<br />
</form>
		<form action="/basket/order">
			<input type="submit" class="m-btn red rnd" value="Оформить заказ" />
		</form>
	{% endif %}
</fieldset>
{% endblock %}
