{% extends "base.html" %}
{% load static %}
{% block title %}Заказ{% endblock %}

{% block content %}

<form action="/basket/addorder/" method="post">
<div id="basketInf">
<fieldset>
<legend>Оформление заказа</legend>
	<br/>
	<table>
		<tr>
			<td colspan="2" align="center"><h3> Сумма заказа: {{ basket.summ }} </h3></td>			
		</tr>
		<tr>
			<td>Адрес доставки:</td><td>
			<input type="text" name='address' required="true" />
			</td>
		</tr>
		<tr>
			<td> Телефон:</td>
			<td>
			<input type="tel" name="tel" required="true" />
			</td>
		</tr>
		<tr>
			<td>Дополнительная информация:</td><td><textarea name="comment"></textarea></td>
		</tr>		
	</table>
	<input type="submit" class="m-btn red rnd" value="Подтвердить заказ" />
	<br/>
<fieldset>
</div>
</form>

{% endblock %} 