{% extends "base.html" %}
{% load i18n %}

{% block content %}
<FONT COLOR="FF####"><h2>{{error}}</h2></FONT>
<form method="post" action=".">{% csrf_token %}
	<table>
		<tr>
			<th>
				{% trans "Username" %}
			</th>
			<th>
				<input type="text" name="username"/>
			</th>			
		</tr>
		<tr>
			<th>
				{% trans "Password" %}
			</th>
			<th>
				<input type="password" name="password"/>
			</th>			
		</tr>  				
	</table>

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}