Greetings {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

Вы получили это письмо, потому что Вы (или кто-то вместо вас)
просит сбросить пароль на {{ domain }} сайте. Если Вы не собираетесь 
сбрасывать пароль, пожалуйста, проигнорируйте это сообщение.

Чтобы восстановить пароль, пожалуйста, нажмите на следующую ссылку или скопируйте и вставьте ее
в адресную строку браузера:

{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uid token %}

Ваше имя пользователя, если Вы непонятно почему его забыли: {{ user.username }}

Успехов в личной жихны,
 Руководство {{ site_name }}