/** Body
==============================================================================*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #222222;
	background: #fff;
	margin: 0 auto;
}

/** Container
==============================================================================*/

#container {
	width: 978px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}

h1 {
	font-size: 18px;
	color: #777;
	text-transform: uppercase;
	text-align: center;
}

#logo{
	background: url(../images/logo_stat.png)
}

#logo a{
	float: right;
	margin-bottom: 0px; 
	margin-right: 0px; 
	width: 150px; 
	height: 100px;
}

#logo:hover {
	background: url(../images/logo_anim.gif)
}
