#product{
	color:#666666;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	size: 4pt;	
}
#addType{
	color:#666666;
	font-family: Tahoma, sans-serif;
	size: 4pt;	
	margin-left: 25%;
	margin-top: 3%;
	text-align: left
}
a.groups:link, a:active {
	color:#666;
	font-weight:bold;
	text-decoration : none
	}
a.groups:visited {
	color:#CC6666;
	font-weight:bold;
	text-decoration : none
	}
a.groups:hover {
	color: #fff; 
    background: #999999; 
	font-weight:bold;
	text-decoration : none
	}
	
a.inbasket:link, a:active {
	color:#666;
	font-weight:bold;
	text-decoration : none
	}
a.inbasket:visited {
	color:#CC6666;
	font-weight:bold;
	text-decoration : none
	}
a.inbasket:hover {
	color: #993333; 
	font-weight:bold;
	text-decoration : underline
	}