{% extends "base.html" %}
{% load static %}
{% block content %}

<h3>{{ product.name }}</h3><br />
<img src="/{{ product.picture_b }}" /><br /><br />
<h4>{{ product.sdescription }}</h4><br />
<p>{{ product.description }}</p>

<br /><br />
<form action="/basket/add/{{ product.id }}/" method="post">
<table border="1">
	<tr> <th>Тип</th><th>Размер</th><th>Цена</th>{% if not user.is_staff %}<th>Заказ</th>{% endif %}</tr>
	{% for char in product.characters %}
	<tr>
		<td>{{ char.charac_type }}</td>
		<td>{{ char.size }}</td>
		<td>{{ char.prise }}</td>
		{% if not user.is_staff %}<td><input type="text" name="num{{ char.id }}" /></td>{% endif %}
	</tr>
	{% endfor %}
</table>
{% if not user.is_staff and user.is_active %}
<br />
<input type="submit" value="Добавить в корзину"/>
{% endif %}
</form>
{% if user.is_staff %}
<a href="/products/addchar/{{ product.id }}/">Добавить характеристику</a>
{% endif %}
{% endblock %}