{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="product_info">
	<div id="product_name_price">
		<h2>{{ product.name }}</h2>
		<h3>{{ price.value }} грн</h3>
	</div>
	{% if user.is_staff %}
	<div id="order_form">
		<form action="/basket/add/{{ product.id }}/" method="post">
			<table border="0">
				<tr>
					<td>Количество</td>
					<td><input type="number" name="1" size="3"/></td>
				</tr>
			</table>
		<input type="submit" value="Добавить в корзину" class="m-btn mini"/>
		</form>
	</div>
	{% endif %}
	<div id="product_img">
		<img src="/{{ product.picture_b }}" />
	</div>
	<div id="product_descr">
		<h4>{{ product.sdescription }}</h4>
	</div>
	<br />
	<table id="pr_characteristics">
		<tr>
			<td colspan="2"><h2>Основные характеристики</h2></td>
		</tr>
		{% for ch in characs %}
		<tr>
			<td>{{ ch.name }}</td>
			<td>{{ ch.description }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td>Производитель</td>
			<td>{{ product.producer }}</td>
		</tr>
	</table>
	<br />
<!--	{% if not user.is_staff and user.is_active%} 
{% endif %}-->
		
	{% if user.is_staff %}
		<div id="edit_prod">
			<a class="m-btn" href="/products/addchar/{{ product.id }}/">Редактировать</a>
		</div>
	{% endif %}
	</div>
{% endblock %}
