{% extends "base.html" %}
{% load static %}
{% block title %}MAIN{% endblock %}

{% block content %}
<center>
<h1><p align="left">О Компании</p></h1>
<br />
<p align="justify">Компания «BASATA» основана в 2010 г.. На сегодняшний день входит в число  крупнейших интернет магазинов Украины и СНГ.</p>
<br />   
<p align="justify">С первых дней своего существования наша компания стремится к постоянному росту и развитию, поэтому корпоративная политика нашей компании подразумевает внимательное и предусмотрительное отношение к каждому клиенту. </p>                       
<br />   
<p align="justify">За прошедший период времени компания «BASATA» расширила свою производственную базу. Это вывело нас на новый уровень отношений с партнерами и покупателями.</p> 
<br />   
<p align="justify">На текущий момент  наша компания  имеет развитую дилерскую сеть по Украине и СНГ, высокий профессиональный уровень специалистов, большой опыт практической работы.</p>

</center>
{% endblock %}