{% extends "base.html" %}
{% load static %}
{% block title %}MAIN{% endblock %}

{% block content %}
<center>
<h1><p align="left">О Компании</p></h1>
<br />
<p align="justify">Компания «BASATA» основана в 2010 г.. На сегодняшний день входит в число  крупнейших производителей солнцезащитных систем.</p>
<br />   
<p align="justify">Специализация нашей фирмы -производство жалюзи оптом в Украине различных видов: вертикальные жалюзи, рулонные шторы, деревяных жалюзи, горизонтальных жалюзи, мультифактурных жалюзи, бамбуковые жалюзи. Продажа и монтаж секционных ворот Teckentrup (Германия), автоматики для ворот фирмы CAME (Италия), систем для откатных ворот Rolling Сenter (Италия).</p>                       
<br />   
<p align="justify">Наша компания предлагает клиентам только качественную продукцию по доступным ценам. В своей работе мы используем материалы и комплектующие  от известных мировых производителей.</p>
<br />   
<p align="justify">За прошедший период времени компания «Мистер С» расширила свою производственную базу. Это вывело нас на новый уровень отношений с партнерами и покупателями.</p> 
<br />   
<p align="justify">На текущий момент  наша компания  имеет развитую дилерскую сеть по Украине, высокий профессиональный уровень специалистов, большой опыт практической работы.</p>

</center>
{% endblock %}