{% extends "base.html" %}
{% load static %}
{% block title %}MAIN{% endblock %}

{% block content %}
<center>
<h1><p align="left">Контакты</p></h1>
<br />
<p align="left">СПД Теслюк, магазин "Карнизы и Жалюзи" <br/>
г.Киев ул.Сеченова 6 <br/>
с 9.00 до 17.00 без перерывов и выходных <br/>

</p>
<br />   
<p align="center">
<img src="{%get_static_prefix%}images/shop1.jpg"/>
</p>
<br />   

<p align="left">
Богдан 
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<a href="skype:bogdan_potapsky?call"><img src="http://download.skype.com/share/skypebuttons/buttons/call_blue_white_124x52.png" style="border: none;" width="124" height="52" alt="Skype Me™!" /></a>
</p>
<br />   

<p align="left">
Андрей 
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<a href="skype:tesluk1809?call"><img src="http://download.skype.com/share/skypebuttons/buttons/call_blue_white_124x52.png" style="border: none;" width="124" height="52" alt="Skype Me™!" /></a>
</p>
<br />

<p align="center">
<h2>
<i>
Свои предложения или заказы Вы можете отправлять по форме "Книга отзывов" 
</i>
</h2>
</p>
<br />   

</center>
{% endblock %}