{% extends "base.html" %}
{% load static %}
{% block title %}MAIN{% endblock %}

{% block content %}
<center>
<h1><p align="left">Условия доставки и оплаты</p></h1>
<br />

<p align="left">
<b>Доставка осуществляется только по предоплате.</b><br/>

<b>Способы доставки:</b><br/>

<ul type="circle">
<li>Самовывоз</li>
<li>Доставка курьером</li>
<li>Доставка почтой</li>
<li>Транспортная компания</li>
</ul>
<br/>

<b>Способы оплаты:</b><br/>
<ul type="circle">
<li>Наличными</li>
<li>Безналичный расчет</li>
<li>Наложенный платеж</li>
</ul>
<br/>

<b>Дополнительная информация о доставке:</b><br/>

Оплата производится в национальной валюте, без НДС стоимость не меняется, с НДС к стоимости + 20%. Доставка по г. Симферополю - бесплатно, пригород Симферополя оплата стоимости бензина.

<b>Регионы доставки:</b><br/>

Украина, все регионы


</p>
<br />

</center>
{% endblock %}