{% extends "base.html" %}
{% load static %}
{% block title %}MAIN{% endblock %}

{% block content %}
<center>
<p align="justify">Здравствуйте, уважаемые дамы и господа! Если вам нужны качественные, современные и стильные <b>карнизы для штор, жалюзи </b>и прочие аксессуары для оформления окон в домах и офисах, то вы зашли по правильному адресу. Только у нас вы сможете оценить все многообразие и красоту дизайнерских решений, а также непременно подберете что-нибудь для своей квартиры. Мы стараемся учесть малейшие потребности клиентов, и поэтому предлагаем вашему вниманию самые разные <b>жалюзи и карнизы</b>, рассчитанные, как на строгие классические интерьеры, так и на помещения, выполненные в стиле Hi-Tech.</p>
 <br />
<p align="justify">Наш ассортимент просто огромен, однако бывают ситуации, когда заказчик не может подобрать нужные ему <b>карнизы</b>. Причины этого явления могут быть самые разные, начиная от неприятия стилевого оформления и заканчивая архитектурными особенностями помещения.  В этом случае вам необходимо  обратиться к нашим консультантам, которые обязательно подберут <b>карнизы</b>, соответствующие вашим требованиям.</p>
 <br />
<p align="justify">Давайте, однако, расскажем более подробно о тех товарах, что предлагаются в нашем магазине и первыми на очереди будут <b>карнизы</b>. Они выполняют сразу две функции: во-первых, являются средством для подвешивания штор, занавесей, гардин и прочих текстильных материалов, а, во-вторых, служат в качестве функционального элемента декора. В нашем ассортименте вы можете найти следующие <b>карнизы для штор</b>: металлические, деревянные, трубчатые, потолочные, алюминиевые.</p>
 <br />
<p align="justify">В свою очередь, <b>жалюзи</b> также являются очень востребованным и популярным элементом дизайна, особенно для оформления офисных помещений. Они состоят из ряда тонких пластин (специалисты называют их ламели), которые прикреплены на одно общее основание. В числе основных достоинств, которыми обладают жалюзи, следует выделить светозащитные, декоративные, шумопоглащающие функции, а также защиту помещений от посторонних взглядов. Как и карнизы, жалюзи выпускаются в самых разных вариантах исполнения, выбор которых зависит от ваших текущих потребностей и особенностей помещения.</p>
 <br />
<p align="justify"><b>И жалюзи, и карнизы</b>, представленные в нашем магазине, выполнены из современных, качественных материалов и имеют все необходимые сертификаты, подтверждающие их надежность и безопасность использования. Если вы затрудняетесь в выборе или хотите прояснить какие-либо вопросы, то свяжитесь с нашими менеджерами. Они решат любую возникшую проблему и предоставят достоверную информацию по каждому товару или услуге.
При подборе карниза не забывайте о наконечниках, разнообразие которых поможет Вам создать свой особенный стиль вашей комнаты.
</p>

</center>
{% endblock %}
