{% extends "base.html" %}
{% load static %}
{% block title %}MAIN{% endblock %}

{% block content %}
<center>
<br />
<p align="justify">Здравствуйте, уважаемые дамы и господа! </p>
<br />
<p align="justify">Компания «BASATA» представляет собой полную систему, которая включает все необходимое для запуска и работы вашего Интернет-магазина. Единственное, что Вам нужно, это Интернет-браузер и желание приняться за сам проект.</p>
 <br />
<p align="justify"><b>Готовый интернет магазин</b>
 У нас Вы можете открыть свой Интернет-магазин одежды, обуви, игрушек, автозапчастей, телефонов, техники, мебели, сумок, книг, косметики, парфюмерии, ювелирный, бижутерии, подарков, зоотоваров и всех остальных сортов товара и услуг.</p>
 <br />
<p align="justify"><b>Как создать интернет магазин</b>
Просто. Выберите шаблон интернет магазина, добавьте Ваш товар в каталог товаров, выберите способ платежа и поставки. С системой "BASATA" можете открыть свой интернет магазин еще сегодня. Сами без компьютерного эксперта легко и быстро редактируйте Ваш интернет магазин.</p>
 <br />
<p align="justify"><b>Все необходимое</b> для создания и работы Вашего Интернет-магазина. В вашем распоряжении достаточно места для хранения данных (веб-хостинг), электронной почты, управления заказами и складами, выбор из сотен современных графических шаблонов, 3D модели товаров, загрузка товаров из 1С и многое другое.</p>
 <br />

</center>
{% endblock %}
